# IntelliJ project files
.idea
*.iml
out
gen
Tecnica\ de\ Rodrigo/
.ipynb_checkpoints/
Nested\ Icosahedron/
Nested\ Dodecahedro/
mamba/
#Truncated\ Tetrahedra/
Nested Cube/Arquivos_Cubo_C11_forca_Bruta/